.heroImage{

  display:flex;
  justify-content: center;

}
/* CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER  CONTAINER CONTAINER CONTAINER  CONTAINER CONTAINER CONTAINER */

.container{
  display:flex;
  gap: 30px 30px;   
  justify-content: center; 
  /* align-items: flex-end; */
  /* I have a container with flexbox properties */
}

.container-one{
/* background-color: red;
color:white;
padding: 0px 20px px 20px;
/* margin: 20px; */
display:grid;
justify-content:space-evenly;
}
.container-two{
  /* background-color:blue;
  color:white;
  /* display: flex; */
  /* padding: 20px 20px 20px 20px;
  margin: 20px; */
  display:grid;
  justify-content: space-evenly;
}
.container-three{
/* background-color: grey;
color:white;
/* display: flex; */
/* padding: 20px 20px 20px 20px;
margin: 20px; */
display:grid;
justify-content: space-evenly;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEAADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

header{
  background-color: darkgreen;
  color: white;
  /* text-align: center; */
  /* padding: 15px 15px 15px 15px; */
  height: 100px;
  display: flex;
  justify-content: space-around;
  gap:  30px 30px;
  
  /* justify-content: center; */
}
.pHeader{
padding-top: 39px;
justify-content: center

}


#logoBlock{
gap: 200px;}
/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */


.sectionContainer{
  display:flex;
  gap: 30px 40px;   
  justify-content:  center;

}
.sectionBanner{
justify-content: center;
}
.sectionScrollContainer{
  display: flex;
  justify-content:center;
  flex-direction: column;
}
.sectionScroll{
  justify-content: right;

  background: lightgrey;
  color: green;
  margin-top:16px;
  padding: 15px;
  width: 25%;
  height: 300px;
  overflow: scroll;
  border: 1px solid #ccc;
}
/* .sectionButton{
  display:grid;
  background-color: green;
  color: white;

} */


header h1{
  font-weight: bold;
  height: 20px;
}

footer{
  background-color: darkgreen;
  color: white;
  /* text-align: center; */
  /* padding: 15px 15px 15px 15px; */
  height: 100px;
  display: flex;
  justify-content: center;
  gap:  30px 30px;

}